.listform {

  &__filter {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__total {
    text-align: center;
    background-color: #ebf7f0;
  }

  &__items {
    padding: 20px;
  }

  &__more {
    text-align: center;
  }

  &__morebtn {

  }

}